# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
__Objectives:__
*List popular languages for Data Science
*List popular libraries for Data Science
*List of well known Data Science Tools
*how to give comments in the cell and perform basic arithmetic expressions

Some of the popular languages that Data Scientists use are:
    1.Python
    2.R
    3.SQL
    4.C++
    5.SQL

Some of the commonly used libraries used by Data Scientists include:
    1.Pandas
    2.NumPy
    3.TensorFlow
    4.Matplotlib
    5.Seaborn
    6.Scikit-Learn
    7.Keras
    8.PyTorch
    9.SciPy

|Data Science Tools|
|---|
|SAS|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Devika Rani Sanaboyina